/* =======================================
   =======================================

   TABLE OF CONTENTS

     1. Global styles

     2. Typography

     3. Layout
        3.1 page-header
          3.11 page-header (logo)
          3.12 page-header (navigation-list)
        3.2 navigation-list
        3.3 main
        3.4 page-footer

     4. Components
         4.1 buttons
         4.2 modal
         4.3 project-list

     5. Media queries

   =======================================
   ======================================= */


/* ================
   1. Global styles
   ================ */

:root {
    --primary-color: #041f31;
    --secondary-color: #f69876;
    --dark-orange: #b8676f;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {

    height: 100%;
    position: relative;
    
    color: var(--secondary-color);
    font-family: 'Figtree', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
    background-image: linear-gradient(#041f31 60%, #7d515a 80%, #f69876 100%);
    background-attachment: fixed;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}
/* ================
     2. Typography
   ================ */

h1, h2, h3, main>p {
    max-width: 75ch;
}

h1 {
    font-size: 33px;
    font-weight: 700;
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
}


/* ================
       3. Layout
   ================ */

/* 3.1 page-header */

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    /* flex-grow disabled, flex-shrink enabled all along same ratio, flex-basis is 200px*/
    flex: 0 1 200px;
}

/* 3.11 page-header (logo) */

.logo {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--text-color),
		inset 0 0 8px var(--text-color);
    animation: pulse 2s infinite alternate;
}

.logo p {
  display: block;
  text-align: center;
  line-height: 100px;
  font-weight:100;
  font-size: 24px;
  color: var(--text-color);
  text-shadow: 0 0 4px var(--text-color);
}


@keyframes pulse {
    100% {
	box-shadow:
	    0 0 80px var(--text-color),
	    inset 0 0 8px var(--text-color);
    }
}

/* 3.12 page-header (navigation-list) */

.page-header__item:last-child {
    /*Only nav should grow*/
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}


.navigation-list li {
    display: inline-block;
    margin-left: 20px;
}

/* Contact halo */
.navigation-list li a {
    border-radius: 50%;
    transition: box-shadow 0.75s;
    padding: 27px 5px 27px 5px;
}

/* Home halo */
.navigation-list li:nth-child(1) a {
    padding: 27px 15px 27px 15px;
}

/* About halo */
.navigation-list li:nth-child(2) a {
    padding: 27px 12.5px 27px 12.5px;
}

/* Work halo */
.navigation-list li:nth-child(3) a {
    padding: 27px 17px 27px 17px;
}

.navigation-list li a:hover, .navigation-list li a:focus {
    box-shadow:
	0 0 80px var(--text-color);
}

/* 3.3 main */

main {
    padding: 0 75px 0px 75px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s forwards;
}

.profile {
    display: flex;
    max-width: 800px;
    margin: 10vh auto 10vh auto;
    align-items: center;
}

.profile__item {
    /* flex-grow enabled, flex-shrink enabled all along same ratio, flex-basis is 300px*/
    flex: 1 1 300px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s forwards
}

.profile__portrait {
    width: 300px;
    margin-right: 20px;
    border-radius: 50%;
}

#Earth-brackets {
    padding: 0.25em;
    font-family: "Source Code Pro", monospace;
    color: var(--secondary-color);
}

#Earth {
    margin: 0.35em;
    position: relative;
}

#Earth::before, #Earth::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#Earth::before {
    background: var(--primary-color);
    animation: typewriter 1.5s steps(5) 1s forwards;
}

#Earth::after {
    width: 0.125em;
    background: transparent;
    animation: typewriter 1.5s steps(5) 1s forwards,
	       blink 450ms steps(5) 8;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: var(--text-color);
  }
}

/* 3.4 page-footer */

svg {
    padding: 0 2.5px 0 0;
    text-decoration: none;
}

.social-media a:hover, .social-media a:focus{
    color: var(--primary-color);
    transition: color 0.2s;
}

.page-footer {
    text-align: center;
    font-size: 12px;
    margin: 5vh;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ================
    4. Components
   ================ */

/* 4.1 buttons */

button,input[type=submit] {
    border: 2px solid var(--secondary-color);
    /* takes the font from the outer container --- isn't font family inherited anyway? */
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 3px solid var(--dark-orange);
    transition: opacity 0.2s;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

button a:hover {
    color: var(--text-color);
}

/* 4.2 modal */

#modal-container {
    display: none;
}

#modal-container.is-visible {

    /* take up full screen and dim out other content */
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* to show it above other content */
    z-index: 999;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    background: red;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 20px;
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: green;
    text-decoration: underline;
}

/* 4.3 project-list */

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* automatically create as many rows as necessary w/ 3 columns specified*/
    /*grid-template-rows: 300px 300px;*/
}

.project-list__item {
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    padding: 0px 20px 30px 30px;
}

.project-list__item:last-child {
    /* This is the "Aaaand something for you, perhaps?" grid */
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    /* above is saying: start and end in the 3rd col */
    /* start in the first row, and end in the 2nd row */
}


/* ================
   5. Media queries
   ================ */

@media all and (max-width: 500px) {
    .project-list {
	grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .project-list {
	grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px){
    /* shared code */
    .project-list {
	grid-gap: 10px;
    }
    .project-list__item:last-child {
	/* both determined by the size of container and on the size of the content*/
	grid-column: auto / auto;
	grid-row: auto / auto;
    h1 {
	font-size: 22px;
    }
  }
}
